.vscode/
gitignore.txt
z-env/
zcal/__pycache__/
zcal/routes/__pycache__/
zcal/routes/temppass.txt
zcal/zcal.db
instance
testing
testing/*
zcal/config.py
zcal/static/Aicon.ico
*.pyc
*.bak
*.egg-info
zcal.egg-info
