{% from "macros.html" import calendar_day with context %}
{% from "macros.html" import render_field with context %}
{% from "macros.html" import admin_menu with context %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="#" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zoom Calendar - {% block title %}{{ title }}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="/static/style.css" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='Aicon.ico') }}">
        {% block style %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="{{ url_for('cal.main') }}"><span>Zoom Calendar</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if current_user.is_authenticated %}
                    <ul class="navbar-nav mr-auto mt-2">
                        {% if current_user.utype == 'Admin' %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.add_teacher') }}">Add Teacher</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.teachers') }}">Manage Teachers</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.add_course') }}">Add Course</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.courses') }}">Manage Courses</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.students') }}">Manage Students</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin.timeslots') }}">Manage Timeslots</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('zoom.manage') }}">Manage Zooms</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="#">Placeholder 3</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Account</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <div class="container main">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
