{% extends 'base.html' %}
{% block body %}
    <table class="table table-bordered table-dark calmonth">
        <div class="caltitle">
            <h1>{{ mon }} {{ yr }}</h1>
        </div>
        <form action="/calendar" method ="get" id="navform">
            <div class="form group calnav">
                <input type="hidden" name="mod" value="{{ mod if mod else 0 }}" id="mod_in">
                <button type="button" class="btn btn-dark" onclick="minus()">Prev.</button>
                <button type="button" class="btn btn-dark" onclick="plus()">Next</button>
            </div>
        </form>
        <tr class="calhead">
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        {% for d in caldays %}
            {% if d[1] == 0 %}
            <tr class="calrow">
                {% if d[0] == 0 %}
                    <td class = "calday"></td>
                {% else %}
                    <td class = "calday">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="p-0 ">
                                {{ d[0] }}
                            </div>
                            {% if current_user.utype == 'Student' %}
                            <div class="p-0">
                                <button class="btn btn-secondary btn-sm sub-btn" onclick="show_scheduler({{yr}}, {{mon_num}}, {{d[0]}})">+</button>
                            </div>
                            {% elif current_user.utype == 'Teacher' %}

                            {% endif %}
                        </div>
                    </td>
                {% endif %} 
            {% elif d[1] == 6 %}
                {% if d[0] == 0 %}
                    <td class = "calday"></td>
                {% else %}
                    <td class = "calday">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="p-0 ">
                                {{ d[0] }}
                            </div>
                            {% if current_user.utype == 'Student' %}
                            <div class="p-0">
                                <button class="btn btn-secondary btn-sm sub-btn" onclick="show_scheduler({{yr}}, {{mon_num}}, {{d[0]}})">+</button>
                            </div>
                            {% elif current_user.utype == 'Teacher' %}

                            {% endif %}
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% else %}
                {% if d[0] == 0 %}
                    <td class = "calday"></td>
                {% else %}
                <td class = "calday">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="p-0 ">
                            {{ d[0] }}
                        </div>
                        {% if current_user.utype == 'Student' %}
                        <div class="p-0">
                            <button class="btn btn-secondary btn-sm sub-btn" onclick="show_scheduler({{yr}}, {{mon_num}}, {{d[0]}})">+</button>
                        </div>
                        {% elif current_user.utype == 'Teacher' %}

                        {% endif %}
                    </div>
                </td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    <div class="modal fade" id="scheduler" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Schedule Meeting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/schedule">
                    <fieldset>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="date_in" class="form-control-label">Meeting Date:</label>
                                <input type="date" class="form-control" id="date_in" name="meeting_date">
                            </div>
                            <div class="form-group">
                                <label for="teacher_in" class="form-control-label">Select Teacher:</label>
                                <input list="teachers" name="teacher_list" id="teacher_in">
                                <datalist id="teachers">
                                    <option value="Justin">
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="time_in" class="form-control-label">Select Meeting Time:</label>
                                <input list="times" name="meeting_times" id="time_in">
                                <datalist id="times">
                                    <option value="8:00">
                                    <option value="8:30">
                                    <option value="9:00">
                                    <option value="9:30">
                                    <option value="10:00">
                                </datalist>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                {{ form.reserve(class="btn btn-dark")}}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </fieldset>              
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    
    
    function minus()
    {
        m = document.querySelector('#mod_in').value;
        m = parseInt(m);
        m--;
        document.querySelector('#mod_in').value = m;
        document.querySelector('#navform').submit();
    }
    
    
    function plus()
    {
        m = document.querySelector('#mod_in').value;
        m = parseInt(m);
        m++;
        document.querySelector('#mod_in').value = m;
        document.querySelector('#navform').submit();
    }


    function show_scheduler(year, month, day)
    {
        // alert("It worked. " + month + " " + day + " " + year)
        $('#scheduler').modal()
        if (month < 10)
        {
            month = "0" + month;
        }
        if (day < 10)
        {
            day = "0" + day;
        }
        dateInput = document.getElementById('date_in');
        date = year + '-' + month + '-' + day;
        dateInput.value = date;
    }
</script>
{% endblock %}