{% extends 'base.html' %}
{% block body %}
    <table class="table table-bordered table-dark calmonth">
        <div class="caltitle">
            <h1>{{ mon }} {{ yr }}</h1>
        </div>
        <form action="/calendar" method ="get" id="navform">
            <div class="form group calnav">
                <input type="hidden" name="mod" value="{{ mod }}" id="mod_in">
                <button type="button" class="btn btn-dark" onclick="minus()">Prev.</button>
                <button type="button" class="btn btn-dark" onclick="plus()">Next</button>
            </div>
        </form>
        <tr class="calhead">
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        {% for d in caldays %}
            {% if d[1] == 0 %}
            <tr class="calrow">
                {% if d[0] == 0 %}
                    <td class = "calday"></td>
                {% else %}
                    <td class = "calday">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="p-0 ">
                                {{ d[0] }}
                            </div>
                            <div class="p-0">
                                <button class="btn btn-secondary btn-sm sub-btn" onclick="show_scheduler('{{yr}}', '{{mon}}', {{d[0]}})">+</button>
                            </div>
                        </div>
                    </td>
                {% endif %}
            {% elif d[1] == 6 %}
                {% if d[0] == 0 %}
                    <td class = "calday"></td>
                {% else %}
                    <td class = "calday">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="p-0 ">
                                {{ d[0] }}
                            </div>
                            <div class="p-0">
                                <button class="btn btn-secondary btn-sm sub-btn" onclick="show_scheduler('{{yr}}', '{{mon}}', {{d[0]}})">+</button>
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% else %}
                {% if d[0] == 0 %}
                    <td class = "calday"></td>
                {% else %}
                <td class = "calday">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="p-0 ">
                            {{ d[0] }}
                        </div>
                        <div class="p-0">
                            <button class="btn btn-secondary btn-sm sub-btn" onclick="show_scheduler('{{yr}}', '{{mon}}', {{d[0]}})">+</button>
                        </div>
                    </div>
                </td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    <div class="modal fade" id="scheduler" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Schedule Meeting</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block scripts %}
<script>
    
    
    function minus()
    {
        m = document.querySelector('#mod_in').value;
        m = parseInt(m);
        m--;
        document.querySelector('#mod_in').value = m;
        document.querySelector('#navform').submit();
    }
    
    
    function plus()
    {
        m = document.querySelector('#mod_in').value;
        m = parseInt(m);
        m++;
        document.querySelector('#mod_in').value = m;
        document.querySelector('#navform').submit();
    }


    function show_scheduler(year, month, day)
    {
        // alert("It worked. " + month + " " + day + " " + year)
        $("#scheduler").modal()
    }
</script>
{% endblock %}