{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Meeting Schedule: {{ date }}</h1>
        <hr>
    	<table class="table">
            <tr>
            	<th>Course Code</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Teacher</th>
                <th>Student</th>
                <th>Options</th>
            </tr>
            {% for meeting in meetings %}
        		<tr>
            		<td>{{meeting.student.course.name}}</td>
                    <td>{{meeting.schedule.start.isoformat(timespec='minutes')}}</td>
                    <td>{{meeting.schedule.end.isoformat(timespec='minutes')}}</td>
                    <td>{{meeting.schedule.teacher.user.full_name()}}</td>
                    <td>{{meeting.student.user.full_name()}}</td>
                    <td>
                        <form id="mg_form" method="POST" action="">
                            {{ mg_form.hidden_tag() }}
                            {{ mg_form.mg_id(value=meeting.id, type="hidden")}}
                            {{ mg_form.manage(class="btn btn-dark") }}
                        </form>
                    </td>
        		</tr>
            {% endfor %}
        </table>
    </div>
    {% if teacher %}
        <div class="container">
            <h1>Open Timeslots</h1>
            <hr>
            <table class="table">
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Options</th>
                </tr>
                {% for schedule in schedules %}
                    <tr>
                        <td>{{schedule.start.isoformat(timespec='minutes')}}</td>
                        <td>{{schedule.end.isoformat(timespec='minutes')}}</td>
                        <td>
                            <form id="rem_form" method="POST" action="">
                                {{ rem_form.hidden_tag() }}
                                {{ rem_form.rem_id(value=schedule.id, type="hidden")}}
                                {{ rem_form.remove(class="btn btn-dark") }}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}