{% macro calendar_day(d, yr, mon_num, a_dict)%}
    {% if d[0] == 0 %}
        <td class = "calday"></td>
    {% else %}
        <td class = "calday">
            <div class="d-flex flex-row justify-content-between">
                <div class="p-0 ">
                    {{ d[0] }}
                </div>
                <div></div>
            </div>
            <hr>
                {% if current_user.utype == 'Student' %}
                    {% if a_dict[d[0]] %}
                        <div>
                            <button class="btn btn-secondary btn-sm sub-btn" onclick="show_scheduler({{yr}}, {{mon_num}}, {{d[0]}})">Schedule meeting ({{ a_dict[d[0]] }} Open)</button>
                        </div>
                    {% endif %}
                {% else %}
                    {% if a_dict[d[0]] %}
                        <button class="btn btn-secondary btn-sm sub-btn" id='open{{d[0]}}'>{{ a_dict[d[0]] }} Open</button>
                    {% endif %}
                {% endif %}
        </td>
    {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}