{% extends 'base.html' %}
{% block body %}
    <div class="container">
        {% if course %}
            <h1>{{ course.name }}: Students</h1>
        {% else %}
            <h1>All Students</h1>
        {% endif %}
        <hr>
    	<table class="table">
            <tr>
            	<th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Management Options</th>
            </tr>
            {% for student in students %}
        		<tr>
            		<td>{{student.id}}</td>
            		<td>{{student.user.first}}</td>
            		<td>{{student.user.last}}</td>
                    <td>{{student.user.email}}</td>
                    <td>{{student.course.name}}</td>
            		<td>Coming Soon</td>
        		</tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}