{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Manage Teachers</h1>
        <hr>
    	<table class="table">
            <tr>
            	<th>Teacher ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Classification</th>
                <th>Email</th>
                <th>Zoom Account</th>
                <th>Management Options</th>
            </tr>
            {% for teacher in teachers %}
        		<tr>
            		<td>{{teacher.id}}</td>
            		<td>{{teacher.user.first}}</td>
            		<td>{{teacher.user.last}}</td>
            		<td>{{teacher.user.utype}}</td>
            		<td>{{teacher.user.email}}</td>
            		<td>{{teacher.zoom.account}}</td>
            		<td>Coming Soon</td>
        		</tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}