{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Manage Zoom Accounts</h1>
        <hr>
        <div class=tsdiv>
            <form method="POST" action="{{ url_for('zoom.zoom_auth') }}" id="oauth_form">
                {{ oauth_form.hidden_tag() }}
                {{ oauth_form.authorize(class="btn btn-dark") }}
            </form>
        </div>
        <hr>
        <legend>Current Zoom Accounts</legend>
    	<table class="table">
            <tr>
                <th>Account Email</th>
                <th>Teacher</th>
                <th>Management Options</th>
            </tr>
            {% for zoom in zooms %}
                <tr>
                    <td>{{ zoom.account}}</td>
                    <td>
                        {% if zoom.teacher %}
                            {{ zoom.teacher.user.full_name() }}
                        {% elif t_form.teachers.choices %}
                            <form id="t_form" method="POST" action="" style="display: inline">
                                {{ t_form.hidden_tag() }}
                                {{ t_form.teachers(class="form-control in-frm in-select") }}
                                {{ t_form.zm_id(type="hidden", value=zoom.id)}}
                        {% else %}
                            No Teachers Available
                        {% endif %}
                    </td>
                    <td>
                        
                            {% if not zoom.teacher and t_form.teachers.choices %}
                                {{ t_form.submit(class="btn btn-dark in-frm in-btn") }}
                                </form>
                            {% endif %}
                        <form id="rem_form" method="POST" action="" style="display: inline">
                            {{ rem_form.hidden_tag() }}
                            {{ rem_form.rem_id(value=zoom.id, type="hidden")}}
                            {{ rem_form.remove(value='Remove Account', class="btn btn-dark") }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}